{% extends "layout.html" %}
{% import 'forms.html' as forms %}

{% block pagetitle %} Nuevo usuario {% endblock %}

{% block body %}

Antes de poder entrar el adminsitrador tiene que activar el usuario

{{ forms.display_errors(errors) }}
<form action="/user/new" method="post">
	<dl>
	<dt>Nombre de usuario</dt> <dd>{{ forms.input('username') }}</dd>
	<dt>Contrase&#241;a</dt> <dd>{{ forms.input('password', type='password') }}</dd>
	<dt>Confirmar contrase&#241;a</dt> <dd>{{ forms.input('passwordConfirmation', type='password') }}</dd>
	<dt>Correo electr&#243;nico</dt> <dd>{{ forms.input('email') }}</dd>
	<dt>Nombre</dt> <dd>{{ forms.input('name') }}</dd>
	<dt>Telefono</dt> <dd>{{ forms.input('phone') }}</dd>
	<dt>Direcci&#243;n</dt> <dd>{{ forms.textarea('address') }}</dd>

	<div>Captcha:{{ captchahtml|safe }} </div>


	<div><input type="submit" value="Sumbit"></div>

</form>
{% endblock %}
